[Unit]
Description=Matrix Hedwig Push Gateway
Documentation=https://gitlab.com/famedly/services/hedwig
After=network.target

[Service]
Type=simple
User=<username>
WorkingDirectory=/home/<username>/hedwig
ExecStart=/home/<username>/hedwig/matrix-hedwig
Restart=always

[Install]
WantedBy=multi-user.target