PUSHGW__LOG__LEVEL=info
PUSHGW__SERVER__BIND_ADDRESS=127.0.0.1
PUSHGW__SERVER__PORT=7022
PUSHGW__HEDWIG__APP_ID=org.matrix.awesome_client
PUSHGW__HEDWIG__FCM_PUSH_MAX_RETRIES=5
PUSHGW__HEDWIG__FCM_SERVICE_ACCOUNT_TOKEN_PATH=/etc/secret/fcm-auth.json
PUSHGW__HEDWIG__FCM_NOTIFICATION_CLICK_ACTION=FLUTTER_NOTIFICATION_CLICK
PUSHGW__HEDWIG__FCM_NOTIFICATION_TITLE=<count> unread rooms
PUSHGW__HEDWIG__FCM_NOTIFICATION_BODY=Open app to read the messages
PUSHGW__HEDWIG__FCM_NOTIFICATION_SOUND=default
PUSHGW__HEDWIG__FCM_NOTIFICATION_ICON=notifications_icon
PUSHGW__HEDWIG__FCM_NOTIFICATION_TAG=org.matrix.default_notification
PUSHGW__HEDWIG__FCM_NOTIFICATION_ANDROID_CHANNEL_ID=org.matrix.app.message
PUSHGW__HEDWIG__NOTIFICATION_REQUEST_BODY_SIZE_LIMIT=15000
